<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <!-- <h1>Online Food Delivery System</h1> -->
    <!-- <h2> Admin Login</h2> -->
    <!-- <hr/> -->
    <app-header></app-header>
    <router-outlet></router-outlet>
    <!-- <div id="sect1"class="container">       
      <h2>Now Load image on the displa\</h2>   
      </div>   -->
  </div>
  
</body>
</html>