<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  class="admin">
        
        <div class="signIn">
            <h2>Login Page</h2>
            <form [formGroup]="loginRef" (ngSubmit)="signIn()">
                <div class="form-container-t3">
                <label>EmailId</label>
                <input type="email" formControlName="emailid" placeholder="enter email"/><br/>
                <label>Password</label>
                <input type="password" formControlName="password" placeholder="enter password"/><br/>
                <label>TypeOfUser</label>
                <input type="radio" id="admin1" name="typeOfUser" value="admin" formControlName="typeOfUser"/>admin
                <input type="radio" id="emp1" name="typeOfUser" value="employee" formControlName="typeOfUser"/>employee
                <input type="radio" id="user1" name="typeOfUser" value="user" formControlName="typeOfUser"/>user<br/>
                <input type="submit"  id="signIn12" class="btn" value="signIn"/>
                <input type="reset" class="btn" value="reset"/>
            </div>
            </form>
            <br/>
            <span style="color:red">{{msg}}</span><br/>
            <a routerLink="/signUp">SignUp</a>
        </div>
    </div>
    
</body>
</html>