.signUp
{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: blueviolet;

}
.signUp h2{
    color: crimson;
}
.signUp input
{
    cursor: pointer;
    margin-top:20px;
}
.btn{
    padding: 8px;
    margin-left: 50px;
    border-radius: 5px ;
    background-color: rgb(39, 58, 225);
    color: white;
}
label{
    margin-right: 20px;

}
.user{
    border: 2px solid blueviolet;
    width: 350px;
    height: 50vh;
    margin-top: 100px;
    
}
